.footer {
    position: relative;
    padding-top: 6rem;
    // padding-bottom: 2rem;
    &-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2.8rem 0;
        margin-bottom: 10.3rem;
        &-title {
            color: rgba($cl-primary, 1);
        }
        &-sub1 {
            color: $cl-heading;
            color: rgba($cl-white, 1);
        }
        &-sub2 {
            color: rgba($cl-white, .7);
        }
        &-sub3 {
            display: flex;
            gap: 0 .5rem;
            color: rgba($cl-white, .6);
            a {
                color: $cl-heading;
            }
        }
        &-btn {
            .txt-btn {
                padding: 2.4rem 8.55rem;
            }
        }
    }
    &-brands {
        padding: 1.6rem 0;
        margin-bottom: 2rem;
        &-marquee {
            display: flex;
            align-items: center;
            gap: 0 4rem;
            padding: 0 2rem;
            &-item {
                @include size(10rem, auto)
            }
        }
    }
    &-curtain {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70rem;
        transform: translateY(1px);
        // background-color: rgba($cl-primary, 1);
        z-index: 1;

        &-inner {
            width: 100%;
            height: calc(100% / 10);
            background-color: rgba($cl-primary, 1);
            z-index: calc(-1 * var(--i) + 11);
            transform: scale(1, calc(1 / var(--i)));
        }

        &-logo {
            position: absolute;
            width: 36.7rem;
            padding-top: 2rem;
            z-index: 7;
        }
    }
    .footer-copyright-wrapper {
        position: absolute;
        bottom: 2rem;
        // background-color: rgba($cl-black, 1);
        z-index: 2;
    }
    &-copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $cl-white;
    }
    &-links {
        display: flex;
        align-items: center;
        gap: 4.4rem;
    }
    &-link {
        position: relative;
        display: flex;
        align-items: center;

        &:after {
            content: '';
            position: absolute;
            right: -2.2rem;
            background-color: rgba($cl-white, .2);
            @include size(2px, 100%);
        }

        &:last-child:after {
            display: none;
        }
    }
}