.footer {
    padding-top: 6rem;
    padding-bottom: 2rem;
    &-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2.8rem 0;
        margin-bottom: 10.3rem;
        &-sub1 {
            color: $cl-heading;
        }
        &-sub3 {
            display: flex;
            gap: 0 .5rem;
            a {
                color: $cl-heading;
            }
        }
    }
    &-brands {
        padding: 1.6rem 0;
        margin-bottom: 2rem;
        &-marquee {
            display: flex;
            align-items: center;
            gap: 0 4rem;
            padding: 0 2rem;
            &-item {
                @include size(10rem, auto)
            }
        }
    }
    &-logo {
        width: 36.7rem;
        margin: 0 auto 14rem;
    }
    &-copyright {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-links {
        display: flex;
        align-items: center;
        gap: 4.4rem;
    }
    &-link {
        // padding: 0 2rem;
        position: relative;
        display: flex;
        align-items: center;
        &:after {
            position: absolute;
            content: '';
            right: -2.2rem;
            background-color: rgba($cl-white, .2);
            @include size(2px, 100%);
        }
        &:last-child:after {
            display: none;
        }
    }
}