.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: sticky;
    top: 0;
    z-index: 99;
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-discover {
        display: flex;
        align-items: center;
    }
    &-mouse {
        position: relative;
        width: 6.8rem;
        display: flex;
        justify-content: center;
        margin-right: 1.6rem;
        &-wheel {
            position: absolute;
            width: 12.5%;
            aspect-ratio: 1;
            background-color: white;
            border-radius: 50%;
            top: 33.33%;
            box-shadow: 0rem 0rem 1rem 0rem rgba(255, 255, 255, 0.75);
        }
    }
    &-main {
        display: flex;
        align-items: center;
        &-inner {
            display: flex;
            padding: 1rem 1rem 1rem 0;
            border: 1px solid rgba($cl-white, .1);
            background-color: rgba($cl-white, .02);
            border-radius: 2rem;
            margin-left: 3.2rem;
            -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
            box-shadow: 0px 0px 1rem 0px rgba($cl-white, 0.05) inset;
        }
    }
    &-hamburger {
        width: 7rem;
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        &-line {
            width: 2.4rem;
            height: 1px;
            background-color: white;
            position: absolute;
            &:first-child {
                transform: translate(0px, .55rem);
            }
            &:last-child {
                transform: translate(0px, -.55rem);
            }
        }
    }
}
