* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//$container-width: 192rem; //resolve in 192x12.5px(fontsize) = 2400px

$xs-min: 477px;
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1728px;

$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop

//Font
html {
    --fs-global: 0.5787037037vw;
    --container-max-width: none;
    scroll-behavior: unset;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: none;
    -webkit-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
    font-family: 'Saans';
    font-size: var(--fs-global);
    color: $cl-body;
    background-color: $cl-bg;
    // @media only screen and (min-width: 2160px) {
    //     font-size: 12.5px;
    // }
    @media only screen and (min-width: 991px) {
        @media screen and (min-aspect-ratio: 1600 / 800) {
            --fs-global: 0.9259259259vh;
        }
    }
    // @media only screen and (min-width: 1728px) {
    //     --fs-global: 10px;
    // }
    @media only screen and (max-width: 991px) {
        --fs-global: 1.1990407674vw;
    }
    @media only screen and (max-width: 767px) {
        --fs-global: 1.8vw;
    }
    @media only screen and (max-width: 476px) {
        --fs-global: 2.667vw;
    }
}
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
button, input, textarea {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
    font-family: inherit;
}
button {
    cursor: pointer;
}

//Layout
.container {
    --container-padding: 4rem;

    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: var(--container-max-width);
    &.fluid {
        max-width: none;
    }
}

.grid {
    --grid-column: 16;
    --grid-gap: 2rem;
    display: grid;
    column-gap: var(--grid-gap);
    grid-template-columns: repeat(var(--grid-column), 1fr);
    @include md {
        --grid-column: 12;
        --grid-gap: 1.6rem;
    }
    @include sm {
        --grid-column: 4;
        --container-padding: 1.6rem;
    }
}
.swiper,
.swiper-wrapper,
.swiper-slide {
    width: 100%;
}
.swiper-slide {
    height: auto;
}
.grain-noise-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    opacity: 0.4;
    z-index: 99999;

    &:before {
        content: "";
        position: absolute;
        top: -21vw;
        left: -21vw;
        width: calc(100% + 42vw);
        height: calc(100% + 42vw);
        background-position: 40%;
        animation: noise 2s steps(4) infinite;
        background-image: url(../../assets/bg-noise-grain.png);
    }
    @keyframes noise {
        0% {
            transform: translateZ(0);
        }
        10% {
            transform: translate3d(-7vw,-7vw,0);
        }
        20% {
            transform: translate3d(-14vw,7vw,0);
        }
        30% {
            transform: translate3d(7vw,-14vw,0);
        }
        40% {
            transform: translate3d(-7vw,-21vw,0);
        }
        50% {
            transform: translate3d(-14vw,7vw,0);
        }
        60% {
            transform: translate3d(21vw,21vw,0);
        }
        70% {
            transform: translate3d(14vw,14vw,0);
        }
        80% {
            transform: translate3d(-21vw,-21vw,0);
        }
        90% {
            transform: translate3d(14vw,7vw,0);
        }
        100% {
            transform: translate3d(7vw,7vw,0);
        }
    }
}
.cursor-wrap {
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    color: #fff;
    opacity: 1;
    // background-color: rgba(245, 69, 13, .2);
    @include transition(opacity 400ms ease);

    &.on-hidden {
        opacity: 0;
    }
    $cs-lg: 30rem;
    $cs-md: 6.5rem;
    $cs-sm: 1.5rem;

    .cursor {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 0;
        will-change: transform;

        &-dot {
            position: absolute;
            width: $cs-sm;
            height: $cs-sm;
            background-color: $cl-primary;
            border-radius: 50%;
            will-change: width, height;
        }

        &-border {
            position: absolute;
            width: $cs-md;
            height: $cs-md;
            border-radius: 50%;
            border: dotted 2px rgba(255, 255, 255, .2);
            animation: rotate 20s linear infinite;
            will-change: width, height, rotate;
        }
        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            };
            100% {
                transform: rotate(360deg);
            }
        }
        &-glow {
            position: absolute;
            width: $cs-lg;
            height: $cs-lg;
            will-change: width, height;
        }
    }
}
.line {
    background-color: rgba($cl-heading, 0.10);
    width: 100%;
    height: 1px;
}

@include keyframes(marquee) {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

.marquee {
    display: flex;
    overflow-x: clip;
    &-inner {
        display: flex;
        &-item {
            width: max-content;
            will-change: transform;
            display: flex;
            flex: none;
        }
    }
    &-anim {
        --delay: 0s;
        --direction: normal;
        --duration: 353.152s;
        --iteration-count: infinite;

        animation: marquee var(--duration) linear var(--delay) var(--iteration-count);
        animation-direction: var(--direction);
        will-change: transform;
    }
}


@include md {
    .cursor {
        display: none;
    }
}

