.popup {
    &-contact {
        &-inner {
            display: grid;
            grid-template-columns: repeat(17, 1fr);
            column-gap: 2rem;
            &-content {
                grid-area: 1/1/7/17;
            }
        }
    }
}